.button-white{
    background-color: var(--color-bg);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.button-white:hover{
    background-color: var(--color-bg);
}

.button-github{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button-grey{
    background-color: var(--color-bg);
    color: var(--color-text-muted);
    border: 1px solid var(--color-text-muted);
    font-weight: var(--fw-regular);
}

.button-grey:hover{
    background-color: var(--color-bg);
}

.button-red{
    background-color: var(--color-bg);
    color: var(--color-red);
    border: 1px solid var(--color-red);
}

.button-red:hover{
    background-color: var(--color-red);
    color: var(--color-bg);
}

.button-red:hover svg path{
    fill: var(--color-bg);
}