/* 1. _______________ HEADER _______________ */
header{
    padding-bottom: 1rem;
    border-bottom: var(--border-big);
    margin-bottom: 2rem;
}

.header-inner{
    display: flex;
    justify-content: space-between;
}

.header-inner a{
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo:hover .logo-text{
    text-decoration: none;
    transition: 0.2s all;
    transform: scale(1.05);
}

.logo svg{
    border-radius: 8px;
    border: 1px solid var(--color-text);
    transition: 0.2s all;
}

.logo:hover svg{
    transition: 0.2s all;
    transform: scale(1.05);
}

.logo-text{
    transition: 0.2s all;
    font-size: var(--fs-h3);
    color: var(--color-text);
    font-weight: var(--fw-semibold);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    list-style-type: none;
}

/* 2. _______________ FOOTER _______________ */

footer{
    border-top: var(--border-big);
    margin-top: 2rem;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav{
    display: flex;
    gap: 4rem;
}

.footer-nav a{
    color: var(--color-text);
}

/* 2. _______________ HEADER WORKSHEET _______________ */

.header-worksheet .header-inner{
    display: grid;
    grid-template-columns: 1fr 12fr;
}

.header-worksheet nav{
    width: 100%;
}

.header-worksheet nav .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-worksheet nav .nav-list .left-side{
    display: flex;
    justify-content: start;
    gap: var(--space-s);
}