/* 1. _______________ STARTPAGE _______________ */
#main-content .intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);
}

.intro img {
    max-width: 90%;
}

#main-content .intro p{
    font-size: var(--fs-h3);
}

.intro-buttons{
    display: flex;
    gap: var(--space-m);
}

.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-m);
    flex-wrap: wrap;
}

/* 2. _______________ ABOUT US _______________ */

.about-us-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-l);
}

.about-us-images img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

.about-us-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  #main-content .intro{
    grid-template-columns: 1fr;
  }

  .intro img{
    width: 100%;
    margin: 0 auto;
  }
  .about-us-images {
    grid-template-columns: 1fr;
  }

  .features{
    grid-template-columns: 1fr;
  }

  .intro-buttons{
    justify-content: center;
  }
}
